body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.list{
  /* width:40%; */
  height: 400px;
  overflow:hidden;
  overflow-y:scroll;
}

.framebox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tickerlist{
  flex-grow: 1;
}
.chartdisplay{
  flex-grow: 3;
}

.flexbox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalclass{
  /* max-width: 50%; */
  
}

.rootelement{
  width: 100%;
  height: 100%;
}

body{
  height: 100%;
  width: 100%;
}
html{
  height: 100%;
  width: 100%;
}